* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-radius: 5px;
    --main-padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 10fr 4fr 4fr 1fr;
    grid-template-areas: "nav nav nav" "main main main" "content1 content2 content3" "section section section" "footer footer footer";
    grid-gap: 1px;
    font-weight: 800;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.logo {
    margin: left;
}

nav {
    grid-area: nav;
    height: 10vh;
    background: #a7ffeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 75px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #1190CB;
}

main {
    grid-area: main;
    height: 60vh;
    background-color: rgb(1, 179, 119);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.scale {
    width: 77.7%;
    height: auto;
    position: relative;
    /*background-position: center;*/
}

.content1 {
    grid-area: content1;
    height: 50vh;
    background: white;
    vertical-align: top;
}

.content2 {
    grid-area: content2;
    height: 50vh;
    background: white;
    vertical-align: top;
}

.content3 {
    grid-area: content3;
    height: 50vh;
    background: white;
    vertical-align: top;
}

footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    float: left;
    display: block;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 0rem;
}

section {
    grid-area: section;
    height: 80vh;
    width: 100%;
    background-color: blue;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 1.2fr 1.2fr 1.2fr 3fr 0.3fr;
        grid-template-areas: "nav" "main" "content1" "content2" "content3" "section" "footer";
    }
    nav {
        position: relative;
    }
}