* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-template-rows: 0.3fr 5fr 6fr 1fr;
    grid-template-areas: "nav nav nav" "main main main" "content1 content2 content3" "footer footer footer";
    grid-gap: 1px;
    font-weight: 800;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.logo {
    top: 0%;
}

nav {
    background: #a7ffeb;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    float: right;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 75px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #1190CB;
}

main {
    background-color: rgb(1, 179, 119);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2fr 1.2fr 1.2fr 1.2fr 1.2fr;
        grid-template-areas: "nav" "main" "content1" "content2" "content3" "footer";
    }
    nav li {
        position: relative;
    }
}